html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f6faf;
    color: #fff;
    padding: 20px;
}

.header-items {
    margin-left: 20%;
    margin-right: 20%;
}

header h1 a, header h1 a:active {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
    margin-left: 10px;
}

h2 {
    margin: 0;
    margin-top: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover, .active {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    height: auto;
}

.main-content {
    margin-bottom: 50px;
}

.errors, .messages {
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;;
    margin-top: 30px;
    padding: 8px;
}

.errors {
    border: solid 3px rgb(184, 0, 0);
}

.messages {
    border: solid 3px rgb(0, 151, 0);
}